<div id="calculator" style="border: solid; border-width: 1px; border-radius: 3px;">
    <h2>Calculateur</h2>
    <form id="formConso" action="https://localhost:8080/calcHandler" method="post">
        <div>
            <label for="type de consommation">Type de produit acheté:</label>
            <select name="type de consommation" id="type de consommation">
                <option value="alimentaire">Alimentaires</option>
                <option value="consommables">Consommables</option>
                <option value="services">Services</option>
            </select>
        </div>
        <div>
            <label for="quantité achetée">Quantité achetée:</label>
            <input type="number" name="quantité poids" id="quantité poids" placeholder="grammes" max="1000000000">
            <input type="number" name="quantité heures" id="quantité heures" placeholder="heures" max="1000">
            <input type="number" name="quantité minutes" id="quantité minutes" placeholder="minutes" max="59">
        </div>
        <div id="valider">
            <input type="submit" value="Calculer">
        </div>
    </form>
</div>
<div id="resultat" style="border: solid; border-width: 1px; border-radius: 3px;">
    <div id="primaire">
        secteur primaire: {{.Primaire}}
    </div>
    <div id="secondaire">
        secteur secondaire: {{.Secondaire}}
    </div>
    <div id="tertiaire">
        secteur tertiaire: {{.Tertiaire}}
    </div>
    <div id="quatiaire">
        secteur quatiaire: {{.Quatiaire}}
    </div>
</div>
<div id="global" style="border: solid; border-width: 1px; border-radius: 3px;">
    <h2>Nombre total d'heure de travail lié à votre consommation</h2>
    <div id="total primaire">
        secteur primaire: {{.TotalPrimaire}}
    </div>
    <div id="total secondaire">
        secteur secondaire: {{.TotalSecondaire}}
    </div>
    <div id="total tertiaire">
        secteur tertiaire: {{.TotalTertiaire}}
    </div>
    <div id="total quatiaire">
        secteur quatiaire: {{.TotalQuatiaire}}
    </div>
</div>